<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>密码修改</title>
    <link rel="stylesheet" href="../res/layui/css/layui.css">
    <script src="../res/layui/layui.js"></script>
    <style type="text/css">
        ::-webkit-scrollbar {
            height: 0;
            width: 0;
            color: transparent;
        }
    </style>
</head>
<body>
<div style="margin-left: 10px;margin-right: 10px;margin-top: 10px">



    <fieldset class="layui-elem-field layui-field-title">
        <legend><i class="layui-icon layui-icon-key" style="font-size: 22px;"></i>&nbsp;<span style="font-size: 16px">密码修改</span></legend>
    </fieldset>

    <center><img src="../utils/image/gif/飞机白云.gif" style="width: 340px;height: 240px;" /></center>
    <form class="layui-form" action="" lay-filter="form_add" id="update"
          style="margin-top: 10px;margin-left: 10px;margin-right: 10px">

        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码"
                       autocomplete="off" class="layui-input">
            </div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input type="password" name="twoPassword" required lay-verify="required" placeholder="请再次确认密码"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">两次密码请保持一致！</div>
        </div>

        <center>
            <button class="layui-btn" type="button" onclick="updateUser()">修改</button>
        </center>

    </form>


</div>
</body>

<script>
    layui.use(['dropdown', 'util', 'layer', 'element', 'jquery', 'laytpl', 'form'], function () {
        var element = layui.element;
        var layer = layui.layer;
        var $ = layui.jquery;
        var form = layui.form;
        var laytpl = layui.laytpl;
        var util = layui.util;
        form.render();

        /**
         * 获取到表单的内容
         */
        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        //点击信息修改的的事件
        window.updateUser = function () {

            var JSONdata = JSON.parse(JSON.stringify($('#update').serializeObject()));
            if ( JSONdata.password == "" || JSONdata.twoPassword == "") {
                layer.msg("请先完善必需信息！");
            } else {
                if (JSONdata.twoPassword == JSONdata.password) {
                    $.ajax({
                        url: "/updateInfoUser",
                        type: 'POST',
                        data: {
                            "password": JSONdata.password,
                            "memo":"password"
                        },
                        dataType: 'json',
                        success: function (res) {
                            layer.closeAll();
                            layer.msg(res.msg, {
                                shade: 0.1,
                                time: 1000
                            }, function (index) {
                                layer.closeAll();
                                window.history.go(-1);//返回上一页：
                            });
                        }
                    });
                } else {
                    layer.msg("请两次密码保持一致！");
                }


            }

        }


    });
</script>

</html>